<% form_remote_for search_form do |f| %>
	<% f.hidden_field :token %>
	<p>
		<%= f.label :keyword %><%= f.text_field :keyword %>
	</p>

	<p>
    <%= f.label :genre_id %><br />
    <%= f.select :genre_id, 
								  Genre.find(:all,:order => "name").collect {|a| [ a.name, a.id ] },
								  :include_blank => "--Select--" %>
	</p>

	<p>
    <%= f.label :author_id %><br />
    <%= f.select :author_id, 
								 Author.find(:all,:order => "name").collect {|a| [ a.name, a.id ] },
		  					 :include_blank => "--Select--" %>
	</p>
	<input type="submit" value="Search" id="search-btn" /><br />
<% end %>

