<h1>New book</h1>

<% form_for(@book) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :genre_id %><br />
    <%= f.select :genre_id, Genre.find(:all,:order => "name").collect {|a| [ a.name, a.id ] } %>
  </p>
  <p>
    <%= f.label :author_id %><br />
    <%= f.select :author_id, Author.find(:all,:order => "name").collect {|a| [ a.name, a.id ] } %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', books_path %>